<div class="container col-sm-6">
    <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show mt-1" role="alert">
      <strong>Oops ! </strong> {{ errs }}.
      <strong
        >{{ alertClass.includes("success") ? "Success!" : "Oops!" }}
      </strong>
      {{ successMessage || errorMessage }}.
      <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="global-container">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center">Register</h3>
        <div class="card-text">
          <form [formGroup]="registerForm" (submit)="registerSubmitted()">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" onkeyup="this.value = this.value.toLowerCase();"
                formControlName="emailId" />
              <small *ngIf="getEmail?.invalid && getEmail?.touched"
                class="text-danger fw-bold">*Email is Required</small>
  
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password" />
              <small *ngIf="getPassword?.invalid && getPassword?.touched" class="text-danger fw-bold">*Password is
                Required</small>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Mobile</label>
              <input type="text" class="form-control" formControlName="mobileNumber" />
              <small *ngIf="getMobile?.invalid && getMobile?.touched" class="text-danger fw-bold">*Mobile number is
                Required</small>
            </div>
  
            <div class="form-group mb-3">
              <label class="form-label" for="country">Country:</label>
              <select class="form-select" aria-label="Default select example" formControlName="country">
                <option value="" selected="true" disabled>Select a country
                </option>
                <option *ngFor="let country of countryList" [value]="country.name">{{ country.name}}
                </option>
              </select>
            </div>
  
            <div class="form-group mb-3">
              <label class="form-label" for="state">State:</label>
              <select class="form-select" aria-label="Default select example" formControlName="state">
                <option value="" selected="true" disabled>Select a state
                </option>
                <option *ngFor="let state of stateList" [value]="state.name">{{ state.name}}
                </option>
              </select>
            </div>
  
            <div class="form-group mb-3">
              <label class="form-label" for="city">City:</label>
              <select class="form-select" aria-label="Default select example" formControlName="city">
                <option value="" selected="true" disabled>Select a city
                </option>
                <option *ngFor="let city of cityList" [value]="city.name">{{ city.name}}
                </option>
              </select>
            </div>
  
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-outline-success me-1">
              Submit
            </button>
            <button class="btn btn-secondary" routerLink="">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>